h2,h3,h4,h5 {
	font-family: 'Union', sans-serif;
	font-weight: bold;
}
img {
	height: auto;
	width: 100%;
}

::selection {
  background: #e1883e; /* WebKit/Blink Browsers */
  color: $black;
}
::-moz-selection {
  background: #e1883e; /* Gecko Browsers */
  color: $black;
}

a, input {
  color: $black;

  &:hover, &:focus, &:active {
    color: $black;
    text-decoration: none;
    outline: 0;
  }
}
