.c-subnav {
	position: fixed;
	top: 100px;
	left: 45%;
	z-index: 100;

    ul {
    	padding: 0;
    	list-style-type: none;
    	margin: 0;
		font: $font-sz3;
    }

	@media (max-width: $xs-screen) {
		top: 80px;
		left: 60%;
	}
}
