.start {
	&__container {
		position: relative;
		min-height: 100vh;
		width: 100%;
		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	&__logo-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		width: 260px;
		margin: auto;
	}

	&__close-logo {
		position: absolute;
		top: -25px;
    	right: -30px;
    	height: 35px;
    	width: 35px;
    	padding: 10px;
		cursor: pointer;

		&:before, &:after {
			content: "";
		    position: absolute;
		    top: 17px;
    		left: 10px;
			width: 15px;
		    height: 1px;
		    background: $black;
		}

		&:before {
			transform: rotate(45deg);
    		transform-origin: center center;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.block {
	position: relative;
	min-height: calc(100vh - 104px);
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&__container {
		display: none;

		&--active {
			display: block;
		}
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translate(0, -50%);
		font: $font-sz2;
    	line-height: 1;
    	padding: 0 90px;

		@media (max-width: $xs-screen) {
			font: $font-sz2;
			padding: 0 60px;
    	}
	}
}

.content {
	&__container {
		@extend .container;
		height: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: left;
	}

	&__row {
		@extend .row;
		padding-top: 30px;
	}

	&__col {
		@extend .col-md-6;

		&:first-child {
			padding-right: 30px;

			@media (max-width: $xs-screen) {
				padding-right: 15px;
			}
		}

		&:last-child {
			padding-left: 30px;

			@media (max-width: $xs-screen) {
				padding-left: 15px;
			}
		}
	}

	&__wrapper {
		padding-bottom: 20px;

		&--padding {
			padding: 50px 50px 50px 0;

			@media (max-width: $xs-screen) {
				padding: 0;
			}
		}

		p {
			margin-top: 5px;
			font: $font-sz4;
		}
	}
}

.siteinfo p {
	margin: 0;
}

.about-block {
	@extend .container;

	max-width: 900px;
	padding: 80px;

	@media (min-width: 1700px) {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
	}

	@media (max-width: 768px) {
		padding: 30px;
	}

	&__row {
		@extend .row;
	}

	&__text {
		text-align: left;
		max-width: 200px;
		margin: auto;
	}

	&__textcol {
		@extend .col-md-7;

		padding-right: 60px;
		max-width: 100%;

		@media (max-width: $xs-screen) {
			padding-right: 15px;
			float: left;
		}

		p {
			font: $font-sz4;
		    letter-spacing: -0.5px;
		    line-height: 1.1;
		}
	}

	&__image {
		@extend .col-md-5;
		float: right;

		@media (max-width: $xs-screen) {
			float: left;
			margin-bottom: 20px;
		}
	}

	&__close {
		position: absolute;
		top: -25px;
    	right: -5px;
	    height: 30px;
	    width: 30px;
	    padding: 10px;
		cursor: pointer;

		@media (max-width: 768px) {
			display: none;
		}

		&:before, &:after {
			content: "";
		    position: absolute;
		    top: 14px;
    		left: 10px;
			width: 12px;
		    height: 1px;
		    background: $black;
		}

		&:before {
			transform: rotate(45deg);
    		transform-origin: center center;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}
