.c-page-header {
    padding-bottom: 250px;
    
    &__content {
        position: relative;
    	min-height: 100vh;
    	width: 100%;
    	text-align: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-position: center center;
    }
    &__content--video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        min-height: initial;

        video {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
        }
    }
    &__title {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translate(0, -50%);
		font-size: 31px;
    	line-height: 1;
    	padding: 0 90px;
        margin: 0;

		@media (max-width: $xs-screen) {
			font-size: 26px;
			padding: 0 60px;
    	}
	}
}
