.c-product {
    &__title {
        font: $font-sz2;

        @media (max-width: $xs-screen) {
            font: $font-sz2-2;
            float: left;
            width: 50%;
            margin-bottom: 30px;

            span {
                display: none;
            }
        }
    }

    &__description p {
        max-width: 80%;
        font: $font-sz2;

        @media (max-width: $xs-screen) {
            font: $font-sz4;
            clear: both;
        }
    }

    &__info {
        display: flex;
        padding: 0;
        list-style-type: none;

        li {
            flex: 1 0 auto;

            &:first-child {
                flex: 0 0 100px;
            }

            @media (max-width: $xs-screen) {
                flex: 0 0 50%;

                &:first-child {
                    flex: 0 0 50%;
                }
            }
        }

        p {
            margin: 0;
        }
    }

    &__button {
        &--add {
            font: $font-sz2-2;
            color: $yellow;
            text-align: right;
            margin-top: 30px;

            &[disabled] {
                opacity: 1;
                color: $black;
            }

            @media (min-width: 768px) {
                font: $font-sz2;
                left: calc(50% + 10px);
                text-align: left;
                margin-top: 0px;
            }
        }
        &--size {
            font: $font-sz4;
        }
    }

    &__title,
    &__button--add {
        @media (min-width: 768px) {
            position: fixed;
            top: 250px;
        }
    }

    &__button--xs {
        display: none;
        float: left;
        width: 50%;

        @media (max-width: 767px) {
            display: block;
        }
    }

    &__button--xl {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }
    }

    > .o-width-limiter {
        padding-top: 90px;

        @media(max-width: $xs-screen) {
            padding-top: 50px;
        }
    }
    &__size {
        display: none;

         &:checked + label {
            text-decoration: underline;
         }
    }
    &__sizes {
        display: flex;
        font: $font-sz4;

        label {
            cursor: pointer;
            padding: 0 10px;
            margin: 0;
            position: relative;

            &:after {
                content:"/";
                position: absolute;
                right: -3px;
                top: 0px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    &-size-guide {
        display: none;
        margin-top: 30px;
        margin-bottom: 50px;

        &__wrapper {
            display: flex;
        }
        &__sizes {
            flex: 0 0 100px;

            @media (max-width: $xs-screen) {
                flex: 0 0 30%;
                order: 2;
            }
        }
        &__text {
            flex: 0 0 40%;

            @media (max-width: $xs-screen) {
                flex: 0 0 70%;
                order: 1;
                padding-right: 15px;
            }
        }
    }
}
