.c-project {
    &__image-title {
        font-size: 16px;
        margin: 0 0 10px;

        span {
            margin-left: 40%;
        }
    }
    &__text-block {
        &--right {
            margin-right: 30%;
        }
        &--left {
            margin-left: 30%;
        }
    }
}
