.c-product {
    &__title {
        font-size: 30px;
    }

    &__description p {
        font-size: 30px;
    }

    &__info {
        display: flex;
        padding: 0;
        list-style-type: none;

        li {
            flex: 1 0 auto;

            &:first-child {
                flex: 0 0 100px;
            }
        }

        p {
            margin: 0;
        }
    }

    &__button {
        &--add {
            left: calc(50% + 7.5px);
            font-size: 30px;
        }
        &--size {
        }
    }

    &__title,
    &__button--add {
        position: fixed;
        top: 250px;
    }

    > .o-width-limiter {
        padding-top: 90px;
    }
    &__size {
        display: none;

         &:checked + label {
            text-decoration: underline;
         }
    }
    &__sizes {
        display: flex;

        label {
            cursor: pointer;
            padding: 0 10px;
            margin: 0;
            position: relative;

            &:after {
                content:"/";
                position: absolute;
                right: -3px;
                top: 0px;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    &-size-guide {
        display: none;

        &__wrapper {
            display: flex;
        }
        &__sizes {
            flex: 0 0 100px;
        }
        &__text {
            flex: 0 0 40%;
        }
    }
}
