.c-sidebar {
	position: fixed;
	top: 100px;
	left: 10%;
	z-index: 100;

	&__wrapper {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	&__item {
		padding: 0px 10px 5px;
		color: $black;
		font: $font-sz2;
		line-height: 1;
		transition: transform 0.4s ease;

		&--active {
			transform: translateX(20px);
		}

		a {
			display: block;
			color: $black;
		}

		span {
			opacity: 0;
			transition: opacity 0.4s ease;
		}

		&:not(:first-child, .c-sidebar__item--active):hover {
			transform: translateX(20px);
			span {
				opacity: 1;
			}
		}

		@media (max-width: $xs-screen) {
			font: $font-sz2-2;
		}
	}

	@media (max-width: $xs-screen) {
		top: 80px;
	}
}
