.sidebar {
	position: fixed;
	top: 130px;
	left: 130px;
	z-index: 100;

	&__wrapper {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	&__item {
		padding: 0px 10px 5px;
		color: $black;
		font-size: 30px;
		line-height: 1;
		opacity: 1;
		transition: opacity 0.1s ease;

		a {
			display: block;
			color: $black;
		}

		@media (max-width: $xs-screen) {
			font-size: 24px;
		}
	}
}
