// Grid settings
$enable-flex:           false;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$xs-screen:		767px;

// Colors
$brand-primary:		#27ae60;
$black:		#000;
$white:		#fff;		
$purple: 	#f6f1fb;