.popup, .popup--image {
	position: fixed;
    opacity: 0;
    z-index: -1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;

    h4 {
		font-size: 1rem;
    	font-weight: normal;
    	margin-bottom: 50px;
		padding: 10px 0 5px;
		text-transform: uppercase;
		border-bottom: 2px dashed currentColor;
    }

    &__open {
		opacity: 1;
		z-index: 1002;
    }

    &__email {
		margin-top: 30px;
    	margin-bottom: 50px;
    	max-width: 280px;
    	font-size: 0.8rem;

    	a {
    		display: block;
    		text-transform: uppercase;
    		margin-bottom: 0;
			color: inherit;
    	}

    	span {
    		position: relative;
    		left: 2px;
    		bottom: 5px;
    		display: block;
    		margin-bottom: 20px;
    	}

		p {
			margin: 0;
		}
    }

    &__wrapper {
	    position: absolute;
	    max-width: 300px;
	    padding: 10px 30px;
	    margin: auto;
	    transform: translate(0, -50%);
	    top: 50%;
	    left: 0;
	    right: 0;
		text-align: center;
    }

    &__close {
    	position: absolute;
		top: 0px;
    	right: 0px;
    	padding: 10px;
    	height: 35px;
    	width: 35px;
		cursor: pointer;

		&:before, &:after {
			content: "";
		    position: absolute;
		    top: 17px;
		    left: 10px;
			width: 15px;
		    height: 1px;
		    background: currentColor;
		}

		&:before {
			transform: rotate(45deg);
    		transform-origin: center center;
		}

		&:after {
			transform: rotate(-45deg);
		}
    }
	&__text p {
		font-size: 0.8rem;
		margin-bottom: 5px;
	}
	ul {
		padding: 0;
		list-style-type: none;
		text-align: center;
		margin: 0;
	}
	li {
		display: inline-block;
		margin: 0 10px;

		svg {
			height: 24px;
			width: 30px;
			fill: currentColor;
		}
	}
}
.popup--image {
	overflow: scroll;

    &.popup__open {
        background: rgba(0,0,0,0.3);
    }
    .popup__wrapper {
		position: absolute;
        max-width: 80%;
        padding-left: 0;
        padding-right: 0;
		top: 0;
		transform: none;
    }
    .popup__close {
        top: 10px;
        padding: 10px;
    	height: 55px;
    	width: 55px;

        &:before, &:after {
			content: "";
		    position: absolute;
		    top: 27px;
		    left: 13px;
			width: 30px;
		    height: 1px;
		    background: $white;
		}
    }
}
