@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:400,700');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
    font-family: 'Hind Guntur', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $white;

    &.no-scroll {
      overflow: hidden;
    }
}

.main {
    flex: 1 0 auto;
    width: 100%;
}
