body {
    font-family: "Union", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $white;
    color: $black;
    font-weight: bold;

    &.no-scroll {
      overflow: hidden;
    }
}

::selection {
	background: gold;
}
::-moz-selection {
	background: gold;
}

.main {
    flex: 1 0 auto;
    width: 100%;
}

.hide {
    display: none;
}

#checkout-email-alt,
.page-template-template-order .c-header {
    display: none;
}
