// Grid settings
$enable-flex:           false;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$xs-screen:		767px;

// Colors
$brand-primary:		#27ae60;
$black:		#000;
$white:		#fff;
$purple: 	#f6f1fb;
$yellow:    #FFB800;

//Font sizes
$font-sz1:  bold 43px/45px 'Union';
$font-sz2:  bold 30px/35px 'Union';
$font-sz2-2:  bold 26px/30px 'Union';
$font-sz3:  bold 20px/23px 'Union';
$font-sz4:  bold 18px/21px 'Union';
