// Grid settings
$enable-flex:           false;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$sm-screen:     992px;
$xs-screen:		767px;

// Colors
$brand-primary:	   #27ae60;
$black:		       #000;
$white:		       #fff;
$purple: 	       #f6f1fb;
$yellow:           #e1883e;
$gray:             #d2d2d2;

//Font sizes
$font-sz1:  bold 43px/45px 'Union';
$font-sz2:  bold 30px/35px 'Union';
$font-sz2-2:  bold 26px/30px 'Union';
$font-sz2-3:  bold 22px/30px 'Union';
$font-sz3:  bold 20px/23px 'Union';
$font-sz4:  bold 18px/21px 'Union';
$font-sz5:  bold 14px/15px 'Union';
$font-sz6:  bold 12px/13px 'Union';
